.hero{
  background-image: url(https://www.mintlify.com/hero/bg-dark.svg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0px;
  border: 0px;
  padding: 0px;
  min-height: 100vh;
}
body{
  margin: 0px;
  background-color: black;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 240px;
padding-left: 240px;
color: white;
/* width: ; */
}

.nav-links {
list-style: none;
display: flex;
gap: 18px;
}

.nav-links li {
font-family: var(--font-inter);
cursor: pointer;
}
.buttons {
display: flex;
gap: 15px;
}

.contact {
background: rgb(83, 78, 78);
color: white;
border: 0px;
padding: 10px 18px;
border-radius: 20px;
cursor: pointer;
}
.start {

background: rgb(251, 249, 249);
color: black;
border: none;
padding: 10px 18px;
border-radius: 20px;
cursor: pointer;
}
.middle-section{
  padding-top: 72px;
  padding-bottom: 96px;
  align-items: center;
  justify-items: center;
}
.middle-para{
  color: white;
  font-size: 50px;
  text-align: center;
}
.middle-text{
  color: white;
  text-align: center;
  display: block;
  margin-top: 24px;
}
.subscribe{
 
  display: flex;
  align-items: center;
  margin-top: 32px;
  width: 420px;
  padding: 4px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 20px;

}
.subscribe-email{
  padding-left: 12px;
  padding-right: 12px;
  width: 262px;
}
.subscribe-button{
  display: flex;
  background: white;
  color: black;
  border: none;
  padding: 10px 38px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  height: 17px;
  justify-content: center;
  align-items: center;
}
.middle-image{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.image-dark{
  border-radius: 20px;
}