body{
    background-image: url(https://www.mintlify.com/hero/bg-dark.svg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  color: white;
  /* width: ; */
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  font-family: var(--font-inter);
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 15px;
}

.contact {
  background: transparent;
  color: white;
  border: 1px solid #2c2c2c;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.start {
  background: white;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}
